:local {
    .main {
        padding-top: var(--toolbar--height);
        flex: 1 0 auto;
    }
    .footer {
        background: var(--toolbar--background);
        flex-shrink: 0;
        display: flex;
    }
    .footerContent {
        box-sizing: border-box;
        padding: var(--padding-small) var(--padding-big);
    }
}