.toolbar__root___DaWhg {
  --svg-icon--color: var(--color--text-blur);
  --svg-icon--hover-color: var(--color--highlight);
  display: flex;
  overflow: hidden;
  min-height: var(--toolbar--height);
  background: var(--toolbar--background);
  position: fixed;
  width: 100%;
  z-index: 99999;
  box-shadow: var(--shadow--medium);
}

.toolbar__layer___1f8g2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 var(--padding-big);
  box-sizing: border-box;
}

.toolbar__layer___1f8g2 > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 450px) {
  .toolbar__layer___1f8g2 {
    padding: 0 var(--padding-small);
  }

  .toolbar__layer___1f8g2 nav {
    width: 100%;
    padding-right: var(--padding-small);
  }

  .toolbar__layer___1f8g2 nav a {
    width: 100%;
    min-width: initial !important;
  }
}

.app-max-width__root___3YVJ0 {
  display: flex;
  width: 100%;
  justify-content: center;
}

.app-max-width__layer___DpIcl {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: var(--app--max-width);
}

.svg-icon__root___3jGYg {
  display: inline-block;
  height: var(--svg-icon--size);
  width: var(--svg-icon--size);
  fill: var(--svg-icon--color);
}

.svg-icon__root___3jGYg:hover {
  fill: var(--svg-icon--hover-color);
}

.page-articles__body___1xAmk {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  padding-left: calc(var(--article--navigation) + var(--padding-big));
  flex-direction: column;
}

@media screen and (max-width: 450px) {
  .page-articles__body___1xAmk {
    padding-left: 0;
  }
}

.page-articles__chunk___2VKEK {
  margin-bottom: var(--padding-small);
}

.code__root___1AAm7 {
  margin: 0;
  padding: 1rem;
}

.markdown__code___3tye2,
.markdown__multilineCode___2OR-f {
  background: var(--markdown--block-background);
}

.markdown__code___3tye2 {
  box-sizing: border-box;
  padding: 1px var(--padding-small);
  font-family: monospace;
  box-shadow: var(--shadow--small);
}

.markdown__multilineCode___2OR-f {
  box-shadow: var(--shadow--medium);
}

.markdown__main___2_PkH {
  box-sizing: border-box;
  padding: var(--padding-medium);
  background: var(--article--background);
  box-shadow: var(--shadow--medium);
}

.markdown__main___2_PkH blockquote {
  background: var(--markdown--block-background);
  box-sizing: border-box;
  padding: 2px var(--padding-small);
  margin-right: 0;
  border-left: 3px solid var(--color--highlight);
  margin-left: var(--padding-big);
  box-shadow: var(--shadow--medium);
}

.code-view__root___3nj4Z {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--toolbar--height) - var(--padding-big) * 3);
  max-height: 600px;
  box-sizing: border-box;
  box-shadow: var(--shadow--medium);
  background: var(--code-view--background);
}

.code-view__tabs___1wmi1 {
  display: flex;
  min-height: 40px;
  box-sizing: border-box;
  width: 100%;
  flex-wrap: wrap;
}

.code-view__panel___15NYU {
  display: flex;
  justify-content: space-between;
}

.code-view__controls___37EKI {
  display: flex;
  justify-content: center;
  align-items: center;
}

.code-view__container___3bOBt {
  box-sizing: border-box;
  background: var(--code-view--container-background);
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: var(--padding-small);
}

.code-view__file___3rB_7 {
  display: inline-block;
}

.code-view__tab___2lP3z {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  margin: 0;
  height: 40px;
  padding: var(--padding-small) var(--padding-medium);
  outline: none;
  background: transparent;
  border: 0;
  color: var(--app--font-color);
  cursor: pointer;
  user-select: none;
  background: var(--code-view--tab-background);
}

.code-view__tab___2lP3z:hover {
  background: var(--code-view--tab-selected-background);
}

.code-view__tab___2lP3z.code-view__tabSelected___14O0- {
  background: var(--code-view--tab-selected-background);
}

@media screen and (max-width: 450px) {
  .code-view__root___3nj4Z {
    height: initial;
    max-height: initial;
  }

  .code-view__tab___2lP3z {
    padding: 0 var(--padding-small);
  }
}

.style__exampleContainer___1rKMB {
  height: 100%;
  width: 100%;
}

.style__historyButton___2JCBG {
  border: 0;
  padding: 5px;
  margin: 0;
  box-sizing: border-box;
  background: none;
  cursor: pointer;
  outline: none;
  fill: #808080;
}

.style__historyButton___2JCBG:last-child {
  margin-right: 5px;
}

.style__historyButton___2JCBG:hover {
  fill: #FFFFFF;
}

.style__historyButton___2JCBG[disabled] {
  fill: #505050 !important;
  cursor: default;
}

.split-view__root___2LDG2 {
  display: flex;
  flex: 1;
  position: relative;
}

.split-view__container___3ZWZy {
  display: flex;
  height: 100%;
}

.split-view__resizer___2Yctd {
  height: 100%;
  width: var(--padding-small);
  cursor: col-resize;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.split-view__resizer___2Yctd.split-view__highlight___1WSxn,
.split-view__resizer___2Yctd:hover {
  background: var(--color--highlight);
}

@media screen and (max-width: 768px) {
  .split-view__root___2LDG2 {
    flex-direction: column;
  }

  .split-view__container___3ZWZy {
    width: 100% !important;
    height: 65vh;
  }

  .split-view__container___3ZWZy:first-child {
    margin-bottom: var(--padding-small);
  }

  .split-view__resizer___2Yctd {
    display: none;
  }
}

.scroll-view__scrollViewTrack___2JUVG {
  transition: all ease 100ms;
}

.scroll-view__scrollViewThumb___3f9Je {
  background: var(--scrollview--thumb-color);
}

.app__main___1ICC- {
  padding-top: var(--toolbar--height);
  flex: 1 0 auto;
}

.app__footer___iDcvg {
  background: var(--footer--background);
  flex-shrink: 0;
  display: flex;
}

.app__footerContent___1ojZC {
  box-sizing: border-box;
  /*padding: var(--padding-small) var(--padding-big);*/
}

.app__navigation___3jw3K {
  position: fixed;
  width: var(--article--navigation);
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - var(--padding-big) * 2 - var(--toolbar--height));
  transform: scaleX(-1);
  z-index: 99999;
  transition: left ease 100ms;
}

.app__navigation___3jw3K::-webkit-scrollbar {
  background: #000;
  width: 5px;
}

.app__navigation___3jw3K::-webkit-scrollbar-thumb {
  background: #fff;
}

.app__navigation___3jw3K a {
  transform: scaleX(-1);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-items: center;
  box-sizing: border-box;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
  padding: 0 var(--padding-small);
  border-width: 3px;
  border-color: var(--menu-item--color);
  color: var(--menu-item--color);
  background: var(--menu-item--background);
  text-decoration: none;
  border-right-style: solid;
  justify-content: flex-start;
  margin-bottom: 2px;
  width: 100%;
  min-height: 2rem;
}

.app__navigation___3jw3K a[aria-current="true"] {
  color: var(--menu-item--selected-color);
  border-color: var(--menu-item--selected-color);
  background: var(--menu-item--selected-background);
}

.app__navigation___3jw3K a:hover {
  color: var(--menu-item--hover-color);
  border-color: var(--menu-item--hover-color);
}

.app__navigation___3jw3K a:last-child {
  margin: 0;
}

.app__navigation___3jw3K a span {
  padding-left: calc(var(--padding-medium) * var(--nav-deep));
}

.app__menu___2RBaH {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  display: none;
  --svg-icon--hover-color: var(--color--text-blur);
}

.app__content___1_2Nq {
  padding: var(--padding-big);
  box-sizing: border-box;
}

@media screen and (max-width: 450px) {
  .app__footer___iDcvg {
    display: none;
  }

  .app__content___1_2Nq {
    padding: var(--padding-small);
  }

  .app__navigation___3jw3K {
    top: var(--toolbar--height);
    box-shadow: var(--shadow--medium);
    width: 85%;
    background: #000;
    padding: 10px;
    box-sizing: border-box;
    left: -100%;
    bottom: 0;
    max-height: initial;
  }

  .app__navigation___3jw3K.app__navigationOpened___3ApMh {
    left: 0;
  }

  .app__navigation___3jw3K a {
    min-height: 4rem;
  }

  .app__menu___2RBaH {
    display: initial;
  }

  .app__menuOpened___1L4lJ {
    --svg-icon--color: var(--color--highlight);
    --svg-icon--hover-color: var(--color--highlight);
  }
}

:root {
  --color--environment: #6C6E75;
  --color--accent: #161925;
  --color--background: rgba(0, 0, 0, 0.5);
  --color--highlight: #F0C808;
  --color--text-main: #EFF9F0;
  --color--text-blur: #807F8C;
  --color--shadow: rgba(0, 0, 0, 0.3);
  --shadow--small: 0 0 5px var(--color--shadow);
  --shadow--medium: 0 2px 10px var(--color--shadow);
  --padding-big: 2.5rem;
  --padding-medium: 1.75rem;
  --padding-small: 1rem;
  --border-radius-medium: 5px;
  --scrollview--thumb-color: var(--color--text-main);
  --app--max-width: 1920px;
  --app--background: var(--color--environment);
  --app--font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
  --app--font-size: 12px;
  --app--font-color: var(--color--text-main);
  --toolbar--height: 48px;
  --toolbar--background: var(--color--accent);
  --footer--background: var(--color--accent);
  --code-view--background: var(--color--background);
  --code-view--tab-background: transparent;
  --code-view--tab-selected-background: var(--color--accent);
  --code-view--container-background: var(--color--accent);
  --markdown--block-background: var(--color--accent);
  --article--navigation: 200px;
  --article--background: var(--color--background);
  --menu-item--background: var(--color--accent);
  --menu-item--selected-background: var(--color--accent);
  --menu-item--color: var(--color--text-blur);
  --menu-item--hover-color: var(--color--highlight);
  --menu-item--selected-color: var(--color--highlight);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--app--font-family);
  font-size: var(--app--font-size);
  color: var(--app--font-color);
  background: var(--app--background);
  /*filter: saturate(0);*/
}

html button,
body button {
  font-family: var(--app--font-family);
  font-size: var(--app--font-size);
}

html *::selection,
body *::selection {
  background: var(--color--highlight);
  color: var(--color--accent);
}

app {
  display: flex;
  flex-direction: column;
}

