.toolbar__root___3KkJL {
  --svg-icon--color: var(--color--text-blur);
  --svg-icon--hover-color: var(--color--highlight);
  display: flex;
  overflow: hidden;
  min-height: var(--toolbar--height);
  background: var(--toolbar--background);
  position: fixed;
  width: 100%;
  z-index: 99999;
  box-shadow: var(--shadow--medium);
}

.toolbar__layer___3CPK5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 var(--padding-big);
  box-sizing: border-box;
}

.toolbar__layer___3CPK5 > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.toolbar__layer___3CPK5 > div > div,
.toolbar__layer___3CPK5 > div > a {
  height: 100%;
  align-items: center;
  box-sizing: border-box;
  padding: var(--padding-small);
  display: flex;
}

@media screen and (max-width: 768px) {
  .toolbar__layer___3CPK5 {
    padding: 0 var(--padding-small);
  }

  .toolbar__layer___3CPK5 nav {
    width: 100%;
    padding-right: var(--padding-small);
  }

  .toolbar__layer___3CPK5 nav a {
    width: 100%;
    min-width: initial !important;
  }
}

.app-max-width__root___3R_hm {
  display: flex;
  width: 100%;
  justify-content: center;
}

.app-max-width__layer___hnVxD {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: var(--app--max-width);
}

.svg-icon__root___cS7Lw {
  display: inline-block;
  height: var(--svg-icon--size);
  width: var(--svg-icon--size);
  fill: var(--svg-icon--color);
}

.svg-icon__root___cS7Lw:hover {
  fill: var(--svg-icon--hover-color);
}

.code__root___LOUo0 {
  margin: 0;
  padding: 1rem;
  color: #cccccc;
  font-size: 1rem;
}

.token.class-name {
  color: #7a9ec2;
}

.token.punctuation {
  color: #cccccc;
}

.token.keyword {
  color: #cc8242;
}

.token.function {
  color: #ffc66d;
}

.token.string {
  color: #6a8759;
}

.token.number {
  color: #7a9ec2;
}

.token.selector {
  color: #ffc66d;
}

.token.property {
  color: #9e7bb0;
}

.token.important {
  color: #cc8242;
}

.token.comment {
  color: #707070;
}

.token.interpolation-punctuation {
  color: #cc8242;
}

.markdown__code___13gvn,
.markdown__multilineCode___3OVqq {
  background: var(--markdown--block-background);
}

.markdown__code___13gvn {
  box-sizing: border-box;
  padding: 1px var(--padding-small);
  font-family: monospace;
  box-shadow: var(--shadow--small);
  overflow: auto;
}

.markdown__multilineCode___3OVqq {
  box-shadow: var(--shadow--medium);
  overflow: auto;
}

.markdown__main___3MgH5 {
  box-sizing: border-box;
  padding: var(--padding-medium);
  background: var(--article--background);
  box-shadow: var(--shadow--medium);
}

.markdown__main___3MgH5 blockquote {
  background: var(--markdown--block-background);
  box-sizing: border-box;
  padding: 2px var(--padding-small);
  margin-right: 0;
  border-left: 3px solid var(--color--highlight);
  margin-left: var(--padding-big);
  box-shadow: var(--shadow--medium);
}

.markdown__main___3MgH5 a[name] {
  display: block;
  position: relative;
  top: calc(var(--toolbar--height) * -1 - var(--padding-small));
  visibility: hidden;
}

.markdown__code___13gvn::-webkit-scrollbar,
.markdown__multilineCode___3OVqq::-webkit-scrollbar,
.markdown__table___1id50::-webkit-scrollbar {
  background: var(--color--accent);
  width: 10px;
  height: 10px;
}

.markdown__code___13gvn::-webkit-scrollbar-corner,
.markdown__multilineCode___3OVqq::-webkit-scrollbar-corner,
.markdown__table___1id50::-webkit-scrollbar-corner {
  background: var(--color--accent);
}

.markdown__code___13gvn::-webkit-scrollbar-thumb,
.markdown__multilineCode___3OVqq::-webkit-scrollbar-thumb,
.markdown__table___1id50::-webkit-scrollbar-thumb {
  background: var(--color--environment);
  box-sizing: border-box;
  border-radius: 10px;
  border: solid 2px var(--color--accent);
}

.markdown__code___13gvn::-webkit-scrollbar-thumb:hover,
.markdown__multilineCode___3OVqq::-webkit-scrollbar-thumb:hover,
.markdown__table___1id50::-webkit-scrollbar-thumb:hover {
  background: var(--color--text-main);
}

.markdown__code___13gvn .markdown__code___13gvn,
.markdown__multilineCode___3OVqq .markdown__code___13gvn,
.markdown__table___1id50 .markdown__code___13gvn {
  background: transparent;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

.markdown__table___1id50 {
  width: 100%;
  overflow: auto;
  background: var(--markdown--block-background);
  box-shadow: var(--shadow--medium);
}

.markdown__table___1id50 table {
  width: 100%;
  min-width: 690px;
  border-collapse: collapse;
}

.markdown__table___1id50 table th,
.markdown__table___1id50 table td {
  box-sizing: border-box;
  padding: var(--padding-small);
  border: solid 1px var(--color--background);
}

.markdown__table___1id50 table th {
  font-weight: bold;
  background: var(--color--environment);
}

.markdown__table___1id50 table td {
  vertical-align: top;
}

.code-view__root___2OSqG {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: var(--code-view--background);
  margin: var(--padding-small) 0;
}

.code-view__tabs___3_jGk {
  display: flex;
  min-height: 40px;
  box-sizing: border-box;
  width: 100%;
  flex-wrap: wrap;
}

.code-view__panel___14Z8T {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}

.code-view__controls___X40Ah {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 var(--padding-small);
}

.code-view__container___3sk5c {
  box-sizing: border-box;
  background: var(--code-view--container-background);
  height: 50vh;
  min-height: 500px;
  width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  border-left: solid 1px var(--color--accent);
  border-top: solid 1px var(--color--accent);
  box-shadow: var(--shadow--medium);
}

.code-view__container___3sk5c.code-view__code___1dzXz {
  overflow: auto;
}

.code-view__container___3sk5c.code-view__code___1dzXz::-webkit-scrollbar,
.code-view__container___3sk5c .demo-grid .scrollview::-webkit-scrollbar {
  background: var(--color--accent);
  width: 10px;
  height: 10px;
}

.code-view__container___3sk5c.code-view__code___1dzXz::-webkit-scrollbar-corner,
.code-view__container___3sk5c .demo-grid .scrollview::-webkit-scrollbar-corner {
  background: var(--color--accent);
}

.code-view__container___3sk5c.code-view__code___1dzXz::-webkit-scrollbar-thumb,
.code-view__container___3sk5c .demo-grid .scrollview::-webkit-scrollbar-thumb {
  background: var(--color--environment);
  box-sizing: border-box;
  border-radius: 10px;
  border: solid 2px var(--color--accent);
}

.code-view__container___3sk5c.code-view__code___1dzXz::-webkit-scrollbar-thumb:hover,
.code-view__container___3sk5c .demo-grid .scrollview::-webkit-scrollbar-thumb:hover {
  background: var(--color--text-main);
}

.code-view__container___3sk5c.code-view__code___1dzXz > div:first-child,
.code-view__container___3sk5c .demo-grid .scrollview > div:first-child {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.code-view__container___3sk5c + div {
  margin-top: var(--padding-small);
}

.code-view__example___11Ltb {
  display: flex;
  flex-direction: column;
}

.code-view__file___2Nt8q {
  display: inline-block;
}

.code-view__tab___310o8 {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  margin: 0;
  height: 40px;
  padding: var(--padding-small) var(--padding-medium);
  outline: none;
  background: transparent;
  border: 0;
  color: var(--app--font-color);
  cursor: pointer;
  user-select: none;
  background: var(--code-view--tab-background);
}

.code-view__tab___310o8:hover {
  background: var(--code-view--tab-selected-background);
}

.code-view__tab___310o8.code-view__tabSelected___GHFS- {
  background: var(--code-view--tab-selected-background);
}

@media screen and (max-width: 768px) {
  .code-view__tab___310o8 {
    padding: 0 var(--padding-small);
  }
}

.style__exampleContainer___2ynuM {
  height: 100%;
  width: 100%;
}

.style__historyButton___3H0TA {
  border: 0;
  padding: 5px;
  margin: 0;
  box-sizing: border-box;
  background: none;
  cursor: pointer;
  outline: none;
  fill: #808080;
}

.style__historyButton___3H0TA:last-child {
  margin-right: 5px;
}

.style__historyButton___3H0TA:hover {
  fill: #FFFFFF;
}

.style__historyButton___3H0TA[disabled] {
  fill: #505050 !important;
  cursor: default;
}

react-bolivianite-grid {
  background: var(--color--accent);
}

.scrollview {
  background: white;
}

.app__main___112Pi {
  padding-top: var(--toolbar--height);
  flex: 1 0 auto;
}

.app__footer___3RQpa {
  background: var(--footer--background);
  flex-shrink: 0;
  display: flex;
}

.app__footerContent___2tv1D {
  box-sizing: border-box;
  /*padding: var(--padding-small) var(--padding-big);*/
}

.app__navigation___1izG6 {
  position: fixed;
  width: var(--article--navigation);
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - var(--padding-big) * 2 - var(--toolbar--height));
  transform: scaleX(-1);
  z-index: 99999;
  transition: left ease 100ms;
}

.app__navigation___1izG6::-webkit-scrollbar {
  background: var(--color--environment);
  width: 10px;
  height: 10px;
}

.app__navigation___1izG6::-webkit-scrollbar-corner {
  background: var(--color--environment);
}

.app__navigation___1izG6::-webkit-scrollbar-thumb {
  background: var(--color--accent);
  box-sizing: border-box;
  border-radius: 10px;
  border: solid 2px var(--color--environment);
}

.app__navigation___1izG6::-webkit-scrollbar-thumb:hover {
  background: var(--color--text-main);
}

.app__navigation___1izG6 > div,
.app__navigation___1izG6 > a {
  transform: scaleX(-1);
  display: flex;
  overflow: hidden;
  align-items: center;
  box-sizing: border-box;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
  padding: 0 var(--padding-small);
  text-decoration: none;
  justify-content: flex-start;
  margin-bottom: 2px;
  width: 100%;
  min-height: 2rem;
}

.app__navigation___1izG6 > a {
  cursor: pointer;
  color: var(--menu-item--color) !important;
  background: var(--menu-item--background);
  border-width: 3px;
  border-color: var(--menu-item--color);
  border-right-style: solid;
}

.app__navigation___1izG6 > a[aria-current],
.app__navigation___1izG6 > a.active {
  color: var(--menu-item--selected-color) !important;
  border-color: var(--menu-item--selected-color);
  background: var(--menu-item--selected-background);
}

.app__navigation___1izG6 > a:hover {
  color: var(--menu-item--hover-color) !important;
  border-color: var(--menu-item--hover-color);
}

.app__navigation___1izG6 > a:last-child {
  margin: 0;
}

.app__navigation___1izG6 > a span {
  padding-left: calc(var(--padding-medium) * var(--nav-deep));
}

.app__navigation___1izG6 > div {
  cursor: default;
  margin-top: var(--padding-small);
  color: var(--color--text);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.app__navigation___1izG6 > div:first-child {
  margin-top: 0;
}

.app__menu___1Rltx {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  display: none !important;
  --svg-icon--hover-color: var(--color--text-blur);
}

.app__content___25fKl {
  padding: var(--padding-big);
  box-sizing: border-box;
}

.app__articleBody___2T2rF {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  padding-left: calc(var(--article--navigation) + var(--padding-big));
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .app__articleBody___2T2rF.app__articleBlur___1wqvu {
    filter: blur(10px);
  }
}

@media screen and (max-width: 768px) {
  .app__articleBody___2T2rF {
    padding-left: 0;
  }
}

.app__articleChunk___26KLg {
  margin-bottom: var(--padding-small);
}

@media screen and (max-width: 768px) {
  .app__footer___3RQpa {
    display: none;
  }

  .app__content___25fKl {
    padding: var(--padding-small);
  }

  .app__navigation___1izG6 {
    top: var(--toolbar--height);
    box-shadow: var(--shadow--medium);
    width: 85%;
    background: #000;
    padding: 10px;
    box-sizing: border-box;
    left: -100%;
    bottom: 0;
    max-height: initial;
  }

  .app__navigation___1izG6.app__navigationOpened___1I10Z {
    left: 0;
  }

  .app__navigation___1izG6 > a {
    min-height: 4rem;
  }

  .app__navigation___1izG6 > div {
    min-height: 4rem;
    color: var(--menu-item--color);
  }

  .app__navigation___1izG6::-webkit-scrollbar {
    background: #000;
  }

  .app__navigation___1izG6::-webkit-scrollbar-corner {
    background: #000;
  }

  .app__navigation___1izG6::-webkit-scrollbar-thumb {
    background: var(--color--environment);
    border-color: #000;
  }

  .app__menu___1Rltx {
    display: flex !important;
  }

  .app__menuOpened___1e3TC {
    --svg-icon--color: var(--color--highlight);
    --svg-icon--hover-color: var(--color--highlight);
  }
}

:root {
  --color--environment: #6C6E75;
  --color--accent: #161925;
  --color--background: #36373A;
  --color--highlight: #F0A308;
  --color--text-main: #EFF9F0;
  --color--text-blur: #807F8C;
  --color--shadow: rgba(0, 0, 0, 0.3);
  --shadow--small: 0 0 5px var(--color--shadow);
  --shadow--medium: 0 2px 10px var(--color--shadow);
  --padding-big: 2.5rem;
  --padding-medium: 1.75rem;
  --padding-small: 1rem;
  --border-radius-medium: 5px;
  --scrollview--thumb-color: var(--color--text-main);
  --app--max-width: 1280px;
  --app--background: var(--color--environment);
  --app--font-family: "Open Sans", sans-serif, Verdana, Geneva, Tahoma;
  --app--font-size: 13px;
  --app--font-color: var(--color--text-main);
  --toolbar--height: 48px;
  --toolbar--background: var(--color--accent);
  --footer--background: var(--color--accent);
  --code-view--background: var(--color--background);
  --code-view--tab-background: transparent;
  --code-view--tab-selected-background: var(--color--accent);
  --code-view--container-background: var(--color--accent);
  --markdown--block-background: var(--color--accent);
  --article--navigation: 200px;
  --article--background: var(--color--background);
  --menu-item--background: var(--color--accent);
  --menu-item--selected-background: var(--color--accent);
  --menu-item--color: var(--color--text-blur);
  --menu-item--hover-color: var(--color--highlight);
  --menu-item--selected-color: var(--color--highlight);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--app--font-family);
  font-size: var(--app--font-size);
  color: var(--app--font-color);
  background: var(--app--background);
  /*filter: saturate(0);*/
}

html button,
body button {
  font-family: var(--app--font-family);
  font-size: var(--app--font-size);
}

html *::selection,
body *::selection {
  background: var(--color--highlight);
  color: var(--color--accent);
}

a {
  color: var(--color--highlight);
}

a:visited {
  color: var(--color--highlight);
}

p {
  margin: var(--padding-small) 0;
}

app {
  display: flex;
  flex-direction: column;
}

