:local {
    .main {
        padding-top: var(--toolbar--height);
        flex: 1 0 auto;
    }
    .footer {
        background: var(--footer--background);
        flex-shrink: 0;
        display: flex;
    }
    .footerContent {
        box-sizing: border-box;
        /*padding: var(--padding-small) var(--padding-big);*/
    }
    .navigation {
        position: fixed;
        width: var(--article--navigation);
        overflow-x: hidden;
        overflow-y: auto; // max-height: calc(100vh - var(--padding-big) * 2 - var(--toolbar--height) - var(--nav-bottom-padding));
        max-height: calc(100vh - var(--padding-big) * 2 - var(--toolbar--height));
        transform: scaleX(-1);
        z-index: 99999;
        transition: left ease 100ms;
        &::-webkit-scrollbar {
            background: var(--color--environment);
            width: 10px;
            height: 10px;
        }
        &::-webkit-scrollbar-corner {
            background: var(--color--environment);
        }
        &::-webkit-scrollbar-thumb {
            background: var(--color--accent);
            box-sizing: border-box;
            border-radius: 10px;
            border: solid 2px var(--color--environment);
            &:hover {
                background: var(--color--text-main);
            }
        }
        >div,
        >a {
            transform: scaleX(-1);
            display: flex;
            overflow: hidden;
            align-items: center;
            box-sizing: border-box;
            font-weight: bold;
            text-transform: uppercase;
            user-select: none;
            padding: 0 var(--padding-small);
            text-decoration: none;
            justify-content: flex-start;
            margin-bottom: 2px;
            width: 100%;
            min-height: 2rem;
        }
        >a {
            cursor: pointer;
            color: var(--menu-item--color) !important;
            background: var(--menu-item--background);
            border-width: 3px;
            border-color: var(--menu-item--color);
            border-right-style: solid;
            &[aria-current],
            &:global(.active){
                color: var(--menu-item--selected-color) !important;
                border-color: var(--menu-item--selected-color);
                background: var(--menu-item--selected-background);
            }
            &:hover {
                color: var(--menu-item--hover-color) !important;
                border-color: var(--menu-item--hover-color);
            }
            &:last-child {
                margin: 0;
            }
            span {
                padding-left: calc(var(--padding-medium) * var(--nav-deep));
            }
        }
        >div {
            cursor: default;
            margin-top: var(--padding-small);
            color: var(--color--text);
            text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
            &:first-child {
                margin-top: 0;
            }
        }
    }
    .menu {
        -webkit-tap-highlight-color: transparent;
        cursor: pointer;
        display: none !important;
        --svg-icon--hover-color: var(--color--text-blur);
    }
    .content {
        padding: var(--padding-big);
        box-sizing: border-box;
    }
    .articleBody {
        display: flex;
        flex: 1;
        box-sizing: border-box;
        padding-left: calc(var(--article--navigation) + var(--padding-big));
        flex-direction: column;
        &.articleBlur {
            @media screen and (max-width: 768px) {
                filter: blur(10px);
            }
        }
        @media screen and (max-width: 768px) {
            padding-left: 0;
        }
    }
    .articleChunk {
        margin-bottom: var(--padding-small);
    }
    @media screen and (max-width: 768px) {
        .footer {
            display: none;
        }
        .content {
            padding: var(--padding-small);
        }
        .navigation {
            top: var(--toolbar--height);
            box-shadow: var(--shadow--medium);
            width: 85%;
            background: #000;
            padding: 10px;
            box-sizing: border-box;
            left: -100%;
            bottom: 0;
            max-height: initial;
            &.navigationOpened {
                left: 0
            }
            >a {
                min-height: 4rem;
            }
            >div {
                min-height: 4rem;
                color: var(--menu-item--color);
            }
            &::-webkit-scrollbar {
                background: #000;
            }
            &::-webkit-scrollbar-corner {
                background: #000;
            }
            &::-webkit-scrollbar-thumb {
                background: var(--color--environment);
                border-color: #000;
            }
        }
        .menu {
            display: flex !important;
        }
        .menuOpened {
            --svg-icon--color: var(--color--highlight);
            --svg-icon--hover-color: var(--color--highlight);
        }
    }
}