:local {
    .root {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        background: var(--code-view--background);
        margin: var(--padding-small) 0;
    }
    .tabs {
        display: flex;
        min-height: 40px;
        box-sizing: border-box;
        width: 100%;
        flex-wrap: wrap;
    }
    .panel {
        display: flex;
        justify-content: space-between;
        flex-shrink: 0;
    }
    .controls {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 var(--padding-small);
    }
    .container {
        box-sizing: border-box;
        background: var(--code-view--container-background);
        height: 50vh;
        min-height: 500px;
        width: 100%;
        overflow: hidden;
        flex-shrink: 0;
        border-left: solid 1px var(--color--accent);
        border-top: solid 1px var(--color--accent);
        box-shadow: var(--shadow--medium);
        &.code {
            overflow: auto;
        }

        &.code,
        :global(.demo-grid .scrollview) {
            &::-webkit-scrollbar {
                background: var(--color--accent);
                width: 10px;
                height: 10px;
            }
            &::-webkit-scrollbar-corner {
                background: var(--color--accent);
            }
            &::-webkit-scrollbar-thumb {
                background: var(--color--environment);
                box-sizing: border-box;
                border-radius: 10px;
                border: solid 2px var(--color--accent);
                &:hover {
                    background: var(--color--text-main);
                }
            }
            > div:first-child {
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            }
        }
        &+div {
            margin-top: var(--padding-small);
        }
    }
    .example {
        display: flex;
        flex-direction: column;
    }
    .file {
        display: inline-block;
    }
    .tab {
        -webkit-tap-highlight-color: transparent;
        box-sizing: border-box;
        margin: 0;
        height: 40px;
        padding: var(--padding-small) var(--padding-medium);
        outline: none;
        background: transparent;
        border: 0;
        color: var(--app--font-color);
        cursor: pointer;
        user-select: none;
        background: var(--code-view--tab-background);
        &:hover {
            background: var(--code-view--tab-selected-background);
        }
        &.tabSelected {
            background: var(--code-view--tab-selected-background);
        }
    }
    @media screen and (max-width: 768px) {
        .tab {
            padding: 0 var(--padding-small);
        }
    }
}