:local {
    .root {
        display: flex;
        flex: 1;
        position: relative;
        flex-direction: column;
    }
    .container {
        display: flex;
        width: 100% !important;
        height: 60vh;
        flex-shrink: 0;
        &:first-child {
            margin-bottom: var(--padding-small);
        }
    }
}