:root {
    // https://coolors.co/161925-eff9f0-ffffff-6c6e75-f0c808
    --color--environment: #6C6E75;
    --color--accent: #161925;
    --color--background: rgba(0, 0, 0, 0.5);
    --color--highlight: #F0C808;
    --color--text-main: #EFF9F0;
    --color--text-blur: #807F8C;
    --color--shadow: rgba(0, 0, 0, 0.3);
    --shadow--small: 0 0 5px var(--color--shadow);
    --shadow--medium: 0 2px 10px var(--color--shadow);
    --padding-big: 2.5rem;
    --padding-medium: 1.75rem;
    --padding-small: 1rem;
    --border-radius-medium: 5px;
    --scrollview--thumb-color: var(--color--text-main);
    --app--max-width: 1920px;
    --app--background: var(--color--environment);
    --app--font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
    --app--font-size: 12px;
    --app--font-color: var(--color--text-main);
    --toolbar--height: 48px;
    --toolbar--background: var(--color--accent);
    --footer--background: var(--color--accent);
    --code-view--background: var(--color--background);
    --code-view--tab-background: transparent;
    --code-view--tab-selected-background: var(--color--accent);
    --code-view--container-background: var(--color--accent);
    --markdown--block-background: var(--color--accent);
    --article--navigation: 200px;
    --article--background: var(--color--background);
    --menu-item--background: var(--color--accent);
    --menu-item--selected-background: var(--color--accent);
    --menu-item--color: var(--color--text-blur);
    --menu-item--hover-color: var(--color--highlight);
    --menu-item--selected-color: var(--color--highlight);
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: var(--app--font-family);
    font-size: var(--app--font-size);
    color: var(--app--font-color);
    background: var(--app--background);
    /*filter: saturate(0);*/
    button {
        font-family: var(--app--font-family);
        font-size: var(--app--font-size);
    }
    *::selection {
        background: var(--color--highlight);
        color: var(--color--accent);
    }
}

app {
    display: flex;
    flex-direction: column;
}