:local {
    .root {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .layer {
        display: flex;
        width: 100%;
        flex-direction: column;
        max-width: var(--app--max-width);
    }
}