:local {
    .root {
        display: flex;
        flex-direction: column;
        height: calc(100vh - var(--toolbar--height) - var(--padding-big) * 3);
        max-height: 600px;
        box-sizing: border-box;
        box-shadow: var(--shadow--medium);
        background: var(--code-view--background);
    }
    .tabs {
        display: flex;
        min-height: 40px;
        box-sizing: border-box;
        width: 100%;
        flex-wrap: wrap;
    }
    .panel {
        display: flex;
        justify-content: space-between;
    }
    .controls {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container {
        box-sizing: border-box;
        background: var(--code-view--container-background);
        height: 100%;
        width: 100%;
        overflow: hidden;
        padding: var(--padding-small);
    }
    .file {
        display: inline-block;
    }
    .tab {
        box-sizing: border-box;
        margin: 0;
        height: 40px;
        padding: var(--padding-small) var(--padding-medium);
        outline: none;
        background: transparent;
        border: 0;
        color: var(--app--font-color);
        cursor: pointer;
        user-select: none;
        background: var(--code-view--tab-background);
        &:hover {
            background: var(--code-view--tab-selected-background);
        }
        &.tabSelected {
            background: var(--code-view--tab-selected-background);
        }
    }
    @media screen and (max-width: 450px) {
        .root {
            height: initial;
            max-height: initial;
        }
        .tab {
            padding: 0 var(--padding-small);
        }
    }
}