:local {
    .code,
    .multilineCode {
        background: var(--toolbar--background);
    }
    .code {
        box-sizing: border-box;
        padding: 1px var(--padding-small);
        font-family: monospace;
    }
    .main {
        blockquote {
            background: var(--toolbar--background);
            box-sizing: border-box;
            padding: 2px var(--padding-small);
            margin-right: 0;
            border-left: 3px solid var(--app--font-color);
            margin-left: var(--padding-big);
        }
    }
}