:local {
    .content {
        padding: var(--padding-big);
        box-sizing: border-box;
    }
    .navigtaion {
        position: fixed;
        width: var(--article--navigation);
        max-height: calc(100vh - var(--toolbar--height) - var(--padding-big) * 3);
        overflow-x: hidden;
        overflow-y: auto;
        background: var(--color--accent);
        box-shadow: var(--shadow--medium);

        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: var(--app--font-color);
        }
    }
}