:local {
    .content {
        padding: var(--padding-big);
        box-sizing: border-box;

        @media screen and (max-width: 450px) {
            padding: var(--padding-small);
        }
    }
    .navigtaion {
        position: fixed;
        width: var(--article--navigation);
        max-height: calc(100vh - var(--toolbar--height) - var(--padding-big) * 3);
        overflow-x: hidden;
        overflow-y: auto;
        box-shadow: var(--shadow--medium);

        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: var(--app--font-color);
        }

        @media screen and (max-width: 450px) {
            position: static;
            width: 100%;
            margin-bottom: var(--padding-small);

            a {
                min-height: var(--toolbar--height) !important;
            }
        }
    }
}